* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --primary-clr: rgb(1, 182, 25);
  --secondary-clr: #021e34;
}

.main__container {
  background: #fff;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.main__container .area1 {
  width: 300px;
  height: 300px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-animation: rotate 6s linear infinite;
  animation: rotate 6s linear infinite;
}

.main__container .area1 .center {
  background: var(--primary-clr);
}

.main__container .area1__dot {
  width: 10px;
  height: 10px;
  background-color: var(--secondary-clr);
  position: absolute;
  border-radius: 100%;
  -webkit-transform: rotate(calc(var(--i) * (360deg / 10))) translateY(90px);
  transform: rotate(calc(var(--i) * (360deg / 10))) translateY(90px);
  -webkit-animation: animate1 0.8s linear infinite;
  animation: animate1 0.8s linear infinite;
}

.main__container .area2 {
  width: 300px;
  height: 300px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.main__container .area2__dot {
  width: 10px;
  height: 10px;
  background-color: var(--primary-clr);
  position: absolute;
  border-radius: 100%;
  -webkit-transform: rotate(calc(var(--i) * (360deg / 10))) translateY(70px);
  transform: rotate(calc(var(--i) * (360deg / 10))) translateY(70px);
  -webkit-animation: animate2 0.8s linear infinite;
  animation: animate2 0.8s linear infinite;
}

.main__container .area3 {
  width: 300px;
  height: 300px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.main__container .area3__dot {
  width: 3px;
  height: 3px;
  background-color: var(--secondary-clr);
  position: absolute;
  border-radius: 100%;
  -webkit-transform: rotate(calc(var(--i) * (360deg / 10))) translateY(50px);
  transform: rotate(calc(var(--i) * (360deg / 10))) translateY(50px);
  -webkit-animation: animate3 0.8s linear infinite;
  animation: animate3 0.8s linear infinite;
}

.main__container .area4 {
  width: 300px;
  height: 300px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.main__container .area4__dot {
  width: 3px;
  height: 3px;
  background-color: var(--primary-clr);
  position: absolute;
  border-radius: 100%;
  -webkit-transform: rotate(calc(var(--i) * (360deg / 10))) translateY(30px);
  transform: rotate(calc(var(--i) * (360deg / 10))) translateY(30px);
  -webkit-animation: animate4 0.8s linear infinite;
  animation: animate4 0.8s linear infinite;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes animate1 {
  0% {
    -webkit-transform: rotate(calc(var(--i) * (360deg / 10))) translateY(90px);
    transform: rotate(calc(var(--i) * (360deg / 10))) translateY(90px);
  }
  50% {
    -webkit-transform: rotate(calc(var(--i) * (360deg / 10))) translateY(70px);
    transform: rotate(calc(var(--i) * (360deg / 10))) translateY(70px);
  }
  100% {
    -webkit-transform: rotate(calc(var(--i) * (360deg / 10))) translateY(90px);
    transform: rotate(calc(var(--i) * (360deg / 10))) translateY(90px);
  }
}

@keyframes animate1 {
  0% {
    -webkit-transform: rotate(calc(var(--i) * (360deg / 10))) translateY(90px);
    transform: rotate(calc(var(--i) * (360deg / 10))) translateY(90px);
  }
  50% {
    -webkit-transform: rotate(calc(var(--i) * (360deg / 10))) translateY(70px);
    transform: rotate(calc(var(--i) * (360deg / 10))) translateY(70px);
  }
  100% {
    -webkit-transform: rotate(calc(var(--i) * (360deg / 10))) translateY(90px);
    transform: rotate(calc(var(--i) * (360deg / 10))) translateY(90px);
  }
}

@-webkit-keyframes animate2 {
  0% {
    -webkit-transform: rotate(calc(var(--i) * (360deg / 10))) translateY(70px);
    transform: rotate(calc(var(--i) * (360deg / 10))) translateY(70px);
  }
  50% {
    -webkit-transform: rotate(calc(var(--i) * (360deg / 10))) translateY(90px);
    transform: rotate(calc(var(--i) * (360deg / 10))) translateY(90px);
  }
  100% {
    -webkit-transform: rotate(calc(var(--i) * (360deg / 10))) translateY(70px);
    transform: rotate(calc(var(--i) * (360deg / 10))) translateY(70px);
  }
}

@keyframes animate2 {
  0% {
    -webkit-transform: rotate(calc(var(--i) * (360deg / 10))) translateY(70px);
    transform: rotate(calc(var(--i) * (360deg / 10))) translateY(70px);
  }
  50% {
    -webkit-transform: rotate(calc(var(--i) * (360deg / 10))) translateY(90px);
    transform: rotate(calc(var(--i) * (360deg / 10))) translateY(90px);
  }
  100% {
    -webkit-transform: rotate(calc(var(--i) * (360deg / 10))) translateY(70px);
    transform: rotate(calc(var(--i) * (360deg / 10))) translateY(70px);
  }
}

@-webkit-keyframes animate3 {
  0% {
    -webkit-transform: rotate(calc(var(--i) * (360deg / 10))) translateY(50px);
    transform: rotate(calc(var(--i) * (360deg / 10))) translateY(50px);
  }
  50% {
    -webkit-transform: rotate(calc(var(--i) * (360deg / 10))) translateY(30px);
    transform: rotate(calc(var(--i) * (360deg / 10))) translateY(30px);
  }
  100% {
    -webkit-transform: rotate(calc(var(--i) * (360deg / 10))) translateY(50px);
    transform: rotate(calc(var(--i) * (360deg / 10))) translateY(50px);
  }
}

@keyframes animate3 {
  0% {
    -webkit-transform: rotate(calc(var(--i) * (360deg / 10))) translateY(50px);
    transform: rotate(calc(var(--i) * (360deg / 10))) translateY(50px);
  }
  50% {
    -webkit-transform: rotate(calc(var(--i) * (360deg / 10))) translateY(30px);
    transform: rotate(calc(var(--i) * (360deg / 10))) translateY(30px);
  }
  100% {
    -webkit-transform: rotate(calc(var(--i) * (360deg / 10))) translateY(50px);
    transform: rotate(calc(var(--i) * (360deg / 10))) translateY(50px);
  }
}

@-webkit-keyframes animate4 {
  0% {
    -webkit-transform: rotate(calc(var(--i) * (360deg / 10))) translateY(30px);
    transform: rotate(calc(var(--i) * (360deg / 10))) translateY(30px);
  }
  50% {
    -webkit-transform: rotate(calc(var(--i) * (360deg / 10))) translateY(50px);
    transform: rotate(calc(var(--i) * (360deg / 10))) translateY(50px);
  }
  100% {
    -webkit-transform: rotate(calc(var(--i) * (360deg / 10))) translateY(30px);
    transform: rotate(calc(var(--i) * (360deg / 10))) translateY(30px);
  }
}

@keyframes animate4 {
  0% {
    -webkit-transform: rotate(calc(var(--i) * (360deg / 10))) translateY(30px);
    transform: rotate(calc(var(--i) * (360deg / 10))) translateY(30px);
  }
  50% {
    -webkit-transform: rotate(calc(var(--i) * (360deg / 10))) translateY(50px);
    transform: rotate(calc(var(--i) * (360deg / 10))) translateY(50px);
  }
  100% {
    -webkit-transform: rotate(calc(var(--i) * (360deg / 10))) translateY(30px);
    transform: rotate(calc(var(--i) * (360deg / 10))) translateY(30px);
  }
}
